body{
    background-image: url(images/animals/hatter.jpg);
   text-align: center;
}
a{
    color: darkred;
}
.dino{
   width: 500px;
   
}
td,tr,table{
border: 3px solid rgb(86, 209, 172);
color: rgba(0, 92, 116, 0.918);
}
table{
    width: 500px;
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    empty-cells: hide;
    margin: auto;
}
h1{
    text-decoration: underline;
    font-weight: bold;
}
.kicsi{
    height: 15px;
}

